In [6]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [8]:
df1 = DataFrame(np.arange(8).reshape(2,4),
               index=pd.Index(['LA','SF'],
                             name='city'),
               columns=pd.Index(['A','B','C','D'],
                               name='letter'))
df1

letter  A  B  C  D
city
LA      0  1  2  3
SF      4  5  6  7

In [9]:
df_st = df1.stack()
df_st

city  letter
LA    A         0
      B         1
      C         2
      D         3
SF    A         4
      B         5
      C         6
      D         7
dtype: int64

In [10]:
df_st.unstack()

letter  A  B  C  D
city
LA      0  1  2  3
SF      4  5  6  7

In [12]:
df_st.unstack('letter') # default

letter  A  B  C  D
city
LA      0  1  2  3
SF      4  5  6  7

In [13]:
df_st.unstack('city')

city    LA  SF
letter
A        0   4
B        1   5
C        2   6
D        3   7

In [14]:
ser1 = Series([0,1,2],index=['Q','X','Y'])
ser2 = Series([4,5,6],index=['X','Y','Z'])

In [15]:
df3 = pd.concat([ser1,ser2], keys=['Alpha','Beta'])
df3

Alpha  Q    0
       X    1
       Y    2
Beta   X    4
       Y    5
       Z    6
dtype: int64

In [16]:
df3.unstack()

        Q  X  Y   Z
Alpha   0  1  2 NaN
Beta  NaN  4  5   6

In [18]:
df3.unstack().stack()

Alpha  Q    0
       X    1
       Y    2
Beta   X    4
       Y    5
       Z    6
dtype: float64

In [20]:
df4 = df3.unstack()
df4

        Q  X  Y   Z
Alpha   0  1  2 NaN
Beta  NaN  4  5   6

In [22]:
df4.stack(dropna=False)

Alpha  Q     0
       X     1
       Y     2
       Z   NaN
Beta   Q   NaN
       X     4
       Y     5
       Z     6
dtype: float64