In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [7]:
ser1 = Series([x for x in range(4)],index = ['A','B','C','D'])
ser1

A    0
B    1
C    2
D    3
dtype: int64

In [9]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A     0
B     1
C     2
D     3
E   NaN
F   NaN
dtype: float64

In [14]:
serri = ser2.reindex(['A','B','C','D','E','F','G'], fill_value=0)
serri

A     0
B     1
C     2
D     3
E   NaN
F   NaN
G     0
dtype: float64

In [15]:
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [17]:
ser3.reindex(range(15),method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [19]:
dframe = DataFrame(np.random.randn(25).reshape((5,5)),
                   index=['A','B','D','E','F'],
                   columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A  0.230949  1.245616  0.487123  1.725553  1.065221
B -1.857783  0.436027  0.518917 -0.382764  0.693706
D -0.321735  0.683607 -1.174434 -1.538678 -0.591216
E  1.958044  0.686554  0.490409 -0.140146 -0.459870
F -1.116598  1.370497  0.611078 -0.131517 -1.696741

In [22]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])
dframe2

       col1      col2      col3      col4      col5
A  0.230949  1.245616  0.487123  1.725553  1.065221
B -1.857783  0.436027  0.518917 -0.382764  0.693706
C       NaN       NaN       NaN       NaN       NaN
D -0.321735  0.683607 -1.174434 -1.538678 -0.591216
E  1.958044  0.686554  0.490409 -0.140146 -0.459870
F -1.116598  1.370497  0.611078 -0.131517 -1.696741

In [23]:
new_columns = ['col1','col2','col3','col4','col5','col6']
new_columns

['col1', 'col2', 'col3', 'col4', 'col5', 'col6']

In [24]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  0.230949  1.245616  0.487123  1.725553  1.065221   NaN
B -1.857783  0.436027  0.518917 -0.382764  0.693706   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.321735  0.683607 -1.174434 -1.538678 -0.591216   NaN
E  1.958044  0.686554  0.490409 -0.140146 -0.459870   NaN
F -1.116598  1.370497  0.611078 -0.131517 -1.696741   NaN

In [25]:
dframe

       col1      col2      col3      col4      col5
A  0.230949  1.245616  0.487123  1.725553  1.065221
B -1.857783  0.436027  0.518917 -0.382764  0.693706
D -0.321735  0.683607 -1.174434 -1.538678 -0.591216
E  1.958044  0.686554  0.490409 -0.140146 -0.459870
F -1.116598  1.370497  0.611078 -0.131517 -1.696741

In [26]:
dframe.ix[['A','B','C','D','E','F'],new_columns]

       col1      col2      col3      col4      col5  col6
A  0.230949  1.245616  0.487123  1.725553  1.065221   NaN
B -1.857783  0.436027  0.518917 -0.382764  0.693706   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.321735  0.683607 -1.174434 -1.538678 -0.591216   NaN
E  1.958044  0.686554  0.490409 -0.140146 -0.459870   NaN
F -1.116598  1.370497  0.611078 -0.131517 -1.696741   NaN