In [5]:
my_list = []
for x in range(1,11):
    my_list.append(x)
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
my_list = [x * 2 for x in range(1,11)]
my_list

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [10]:
s = 'supercalifragilisticexpialidocious'
my_chars = [letter.upper() for letter in s]
my_chars

['S',
 'U',
 'P',
 'E',
 'R',
 'C',
 'A',
 'L',
 'I',
 'F',
 'R',
 'A',
 'G',
 'I',
 'L',
 'I',
 'S',
 'T',
 'I',
 'C',
 'E',
 'X',
 'P',
 'I',
 'A',
 'L',
 'I',
 'D',
 'O',
 'C',
 'I',
 'O',
 'U',
 'S']

In [13]:
lst = [number for number in range(11) if number % 2 == 0]
lst

[0, 2, 4, 6, 8, 10]

In [16]:
lst = []
for number in range(11):
    if number % 2 == 0:
        lst.append(number)
lst

[0, 2, 4, 6, 8, 10]

In [18]:
celsius = [0, 10, 20, 30, 40, 45, 50]
fahrenheit = [(9/5.0) * temp + 32 for temp in celsius]
fahrenheit

[32.0, 50.0, 68.0, 86.0, 104.0, 113.0, 122.0]

In [23]:
lst = [x**2 for x in [x**2 for x in range(11)]]
lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]