In [2]:
#Now we'll learn about dropping entries
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

In [4]:
np.arange(3)

array([0, 1, 2])

In [5]:
#Create a new series to play with
ser1 = Series(np.arange(3),index=['a','b','c'])

#Show
ser1

ser2 = Series([0,1,2],,index=['a','b','c'])
ser1 == ser2

SyntaxError: invalid syntax (<ipython-input-5-43d3cbab6d44>, line 7)

In [6]:
#Now let's drop an index
ser1.drop('b')

a    0
c    2
dtype: int32

In [9]:
#With a DataFrame we can drop values from either axis
dframe1 = DataFrame(np.arange(9).reshape((3,3)),index=['SF','LA','NY'],columns=['pop','size','year'])

#Show (remember just random values)
dframe1

    pop  size  year
SF    0     1     2
LA    3     4     5
NY    6     7     8

In [10]:
#Now dropping a row
dframe1.drop('LA')

    pop  size  year
SF    0     1     2
NY    6     7     8

In [13]:
#Or we could drop a column

#Need to specify that axis is 1, not 0
dframe1.drop('year',axis=1)

    pop  size
SF    0     1
LA    3     4
NY    6     7

In [ ]:
#Next we'll learn about selecting entires in a DataFrame!