In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# web scrape some data
import webbrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [12]:
nfl_frame = pd.read_clipboard()
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference
0,1,Green Bay Packers,751,567,37,0.568,1921,1355,NFC North
1,2,Chicago Bears,758,573,42,0.567,1920,1373,NFC North
2,3,Dallas Cowboys,514,392,6,0.567,1960,912,NFC East
3,4,Miami Dolphins,449,355,4,0.558,1966,808,AFC East
4,5,New England Patriots,490,399,9,0.551,1960,898,AFC East

In [13]:
nfl_frame.columns

Index([u'Rank', u'Team', u'Won', u'Lost', u'Tied*', u'Pct.', u'First Season',
       u'Total Games', u'Conference'],
      dtype='object')

In [14]:
type(nfl_frame)

pandas.core.frame.DataFrame

In [15]:
# column name is case-sensitive
nfl_frame['First Season']

0    1921
1    1920
2    1960
3    1966
4    1960
Name: First Season, dtype: int64

In [16]:
# subsetting a data frame
DataFrame(nfl_frame,columns=['Team','First Season','Total Games'])

                   Team  First Season  Total Games
0     Green Bay Packers          1921         1355
1         Chicago Bears          1920         1373
2        Dallas Cowboys          1960          912
3        Miami Dolphins          1966          808
4  New England Patriots          1960          898

In [18]:
# subsetting a data frame; invalid Stadium column
DataFrame(nfl_frame,columns=['Team','First Season','Total Games','Stadium'])

                   Team  First Season  Total Games  Stadium
0     Green Bay Packers          1921         1355      NaN
1         Chicago Bears          1920         1373      NaN
2        Dallas Cowboys          1960          912      NaN
3        Miami Dolphins          1966          808      NaN
4  New England Patriots          1960          898      NaN

In [21]:
nfl_frame.head(3)

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference
0,1,Green Bay Packers,751,567,37,0.568,1921,1355,NFC North
1,2,Chicago Bears,758,573,42,0.567,1920,1373,NFC North
2,3,Dallas Cowboys,514,392,6,0.567,1960,912,NFC East

In [22]:
nfl_frame.tail(3)

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference
2,3,Dallas Cowboys,514,392,6,0.567,1960,912,NFC East
3,4,Miami Dolphins,449,355,4,0.558,1966,808,AFC East
4,5,New England Patriots,490,399,9,0.551,1960,898,AFC East

In [27]:
# extract a particular row and pivot data
nfl_frame.ix[3]

Rank                         4
Team            Miami Dolphins
Won                        449
Lost                       355
Tied*                        4
Pct.                     0.558
First Season              1966
Total Games                808
Conference            AFC East
Name: 3, dtype: object

In [31]:
nfl_frame['Stadium'] = nfl_frame['Team']
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference,Stadium
0,1,Green Bay Packers,751,567,37,0.568,1921,1355,NFC North,Green Bay Packers
1,2,Chicago Bears,758,573,42,0.567,1920,1373,NFC North,Chicago Bears
2,3,Dallas Cowboys,514,392,6,0.567,1960,912,NFC East,Dallas Cowboys
3,4,Miami Dolphins,449,355,4,0.558,1966,808,AFC East,Miami Dolphins
4,5,New England Patriots,490,399,9,0.551,1960,898,AFC East,New England Patriots

In [34]:
nfl_frame['Stadium'] = np.arange(5)
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference,Stadium
0,1,Green Bay Packers,751,567,37,0.568,1921,1355,NFC North,0
1,2,Chicago Bears,758,573,42,0.567,1920,1373,NFC North,1
2,3,Dallas Cowboys,514,392,6,0.567,1960,912,NFC East,2
3,4,Miami Dolphins,449,355,4,0.558,1966,808,AFC East,3
4,5,New England Patriots,490,399,9,0.551,1960,898,AFC East,4

In [40]:
stadiums = Series(['Lambeau Field','Soldiers Field','Texas','Orange Bowl','Gillette'],index=[0,1,2,3,4])
stadiums

0     Lambeau Field
1    Soldiers Field
2             Texas
3       Orange Bowl
4          Gillette
dtype: object

In [41]:
nfl_frame['Stadium'] = stadiums

In [42]:
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference,Stadium
0,1,Green Bay Packers,751,567,37,0.568,1921,1355,NFC North,Lambeau Field
1,2,Chicago Bears,758,573,42,0.567,1920,1373,NFC North,Soldiers Field
2,3,Dallas Cowboys,514,392,6,0.567,1960,912,NFC East,Texas
3,4,Miami Dolphins,449,355,4,0.558,1966,808,AFC East,Orange Bowl
4,5,New England Patriots,490,399,9,0.551,1960,898,AFC East,Gillette

In [43]:
del nfl_frame['Stadium']
nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference
0,1,Green Bay Packers,751,567,37,0.568,1921,1355,NFC North
1,2,Chicago Bears,758,573,42,0.567,1920,1373,NFC North
2,3,Dallas Cowboys,514,392,6,0.567,1960,912,NFC East
3,4,Miami Dolphins,449,355,4,0.558,1966,808,AFC East
4,5,New England Patriots,490,399,9,0.551,1960,898,AFC East

In [47]:
# construct data frame from dictionary
data = {'City':['Green Bay','Chicago','Dallas','Miami','New England Patrios']}
city_frame = DataFrame(data)
city_frame

                  City
0            Green Bay
1              Chicago
2               Dallas
3                Miami
4  New England Patrios